<header>
    <div class="container-grid posicionamento-header">
        <a href=""><img class="logo" src="assets/img/logo.png" alt="Logo do site Game Mania"></a>
        <nav id="menu" class="menu">
            <a href="">ABOUT US</a>
            <a href="">COLLECTION</a>
            <a href="">TRACK ORDER</a>
            <a href="">MY CART</a>
            <a href="">login.html</a>
     <div class="search">
         <Form action="">
             <input id="campo-search" type="search" placeholder="Search">
         </Form>
     </div>
         </nav>
         <a href="#" id="barras"><img class="barras" src="assets/img/menu.png" alt="Menu de Barras"></a>
   </div>
 </header>
