<body>
    <header>
       <div class="container-grid posicionamento-header">
           <a href=""><img class="logo" src="assets/img/logo.png" alt="Logo do site Game Mania"></a>
           <nav id="menu" class="menu">
               <a href="">ABOUT US</a>
               <a href="">COLLECTION</a>
               <a href="">TRACK ORDER</a>
               <a href="">MY CART</a>
               <a href="">login.html</a>
        <div class="search">
            <Form action="">
                <input id="campo-search" type="search" placeholder="Search">
            </Form>
        </div>
            </nav>
            <a href="#" id="barras"><img class="barras" src="assets/img/menu.png" alt="Menu de Barras"></a>
      </div>
    </header>
        <div class="banner">
        <div class="container-grid posicao-texto">
    </div>
</div>
        <section class="secao-jogos">
            <div *ngFor="let SecaoJogos of listaSecaoJogos" class="jogos container">
                <img [src]=SecaoJogos.imagem alt="images 3">
                <h1>{{SecaoJogos.titulo}}</h1>
                <img [src]=SecaoJogos.imagem alt="images 4">
                <h2>{{SecaoJogos.titulo}}</h2>
           </div>
        </section>
        <section class="secao-ofertas">
            <div class="ofertas container">
                <div class="texto-ofertas">
                    <a href="">70% OFF</a> 
                    <a href="">50% OFF</a> 
                    <a href="">Buy one get one</a>
                </div>
            </div>
        </section>
        <section class="container-imagem">
            <div class="template">
            <div class="imagem">
                <img src="assets/img/hawkeye.png" alt="Imagem do jogo de arco e flecha">
                <img src="assets/img/voley.png" alt="Imagem do jodo de volei">
            <div class="review-imagem">
            <div class="review-texto">
                    <h1>Most reviewed items</h1>
                    <p>description $400</p>
                <img src="assets/img/black.png">
                <img src="assets/img/Vector.png">
                <img src="assets/img/Vector.png">
                <img src="assets/img/Vector.png">
                    <p>description $350</p>
                <img src="assets/img/black.png">
                <img src="assets/img/Vector.png">
                <img src="assets/img/Vector.png">
                <img src="assets/img/Vector.png">
                    <p>description $280</p>
                <img src="assets/img/black.png">
                <img src="assets/img/Vector.png">
                <img src="assets/img/Vector.png">
                <img src="assets/img/Vector.png">
            </div>
        </div>
      </div>
</div>
        </section>
        <section class="secao-compradores">
            <div class="compradores">
                <a href=""><img src="assets/img/compradores.png"></a>
                <a href="">View all</a> 
                <a href=""><img src="assets/img/compradores.png"></a>
                <a href="">Best sellers</a>
            </div>
        </section>
        <section class="barra-info">
            <div class="informaçoes container">
            <div class="info-join">
                 <h2> Join<br>Now!</h2>
                 <a href=""><img src="assets/img/join now.png"></a>
            </div>
            <div class="info-voucher">
                <h2>Gift<br>Voucher</h2>
                <a href=""><img src="assets/img/gift voucher.png"></a>   
            </div>
            <div class="info-more">
                <h2>More<br>Info</h2>
                <a href=""><img src="assets/img/more info.png"></a>
            </div>
            </div>
        </section>
        <footer>
            <div class="rodape">
                <div class="links-footer container">
                    <div class="links">
                        <h2>Follow Us</h2>
                        <ul>
                        <a href=""><img src="assets/img/tt.png"></a>
                        <a href=""><img src="assets/img/ig.png"></a>
                        <a href=""><img src="assets/img/linkedin.png"></a>
                        <a href=""><img src="assets/img/fb.png"></a>
                        </ul>
                    </div>
                    <div class="links">
                        <h2>We Accept</h2>
                        <ul>
                        <a href=""><img src="assets/img/visa.png"></a>
                        <a href=""><img src="assets/img/paypal.png"></a>
                        <a href=""><img src="assets/img/maestro.png"></a>
                        <a href=""><img src="assets/img/pay.png"></a>
                        </ul>
                    </div>
                    <div class="links">
                        <h2>Contact Us</h2>
                        <ul>
                        <a href=""><img src="assets/img/wpp.png"></a>
                        <a href=""><img src="assets/img/gmail.png"></a>
                        <a href=""><img src="assets/img/tel.png"></a>
                        <a href=""><img src="assets/img/cel.png"></a>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script>
            let menu = document.getElementById("menu");

            function mostrarMenu(){
                if(menu.style.display) != "flex" {
                    menu.style.display = "flex"
                }else{
                    menu.style.display = "none"
            } 
        </script>
        <script src="js/jquery-3.6.0.js"></script>
        <script src="js/home.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>