<footer>
    <div class="rodape">
        <div class="links-footer container">
            <div class="links">
                <h2>Follow Us</h2>
                <ul>
                <a href=""><img src="assets/img/tt.png"></a>
                <a href=""><img src="assets/img/ig.png"></a>
                <a href=""><img src="assets/img/linkedin.png"></a>
                <a href=""><img src="assets/img/fb.png"></a>
                </ul>
            </div>
            <div class="links">
                <h2>We Accept</h2>
                <ul>
                <a href=""><img src="assets/img/visa.png"></a>
                <a href=""><img src="assets/img/paypal.png"></a>
                <a href=""><img src="assets/img/maestro.png"></a>
                <a href=""><img src="assets/img/pay.png"></a>
                </ul>
            </div>
            <div class="links">
                <h2>Contact Us</h2>
                <ul>
                <a href=""><img src="assets/img/wpp.png"></a>
                <a href=""><img src="assets/img/gmail.png"></a>
                <a href=""><img src="assets/img/tel.png"></a>
                <a href=""><img src="assets/img/cel.png"></a>
                </ul>
            </div>
        </div>
    </div>
</footer>
